body {
  margin: 0;
  background: #242424;
  color: white;
  font-family: system-ui;
}

.navbar {
  padding: 1rem 2rem;
  border-bottom: 1px solid #444;
  display: flex;
  gap: 1rem;
}

.container {
  max-width: 900px;
  margin: 2rem auto;
  padding: 0 1rem;
}
